.cart-container {
    margin: 50px 50px;
    overflow-y: scroll;
    max-height: 450px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-direction: row;
  }
  
  .cart-info .info {
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
  }
  td {
    padding: 12px 5px;
  }
  
  .cart-container th:nth-child(1) {
    width: 60%;
  }
  .cart-container th:nth-child(2) {
    width: 20%;
  }
  .cart-container th:nth-child(3) {
    width: 20%;
  }
  
  td img {
    max-width: 120px;
    width: 100%;
    height: auto;
  }
  
  .change-quantity {
    display: flex;
    flex-direction: row;
  }
  
  .change-quantity button {
    border: none;
    background: #fff;
    color: green;
    font-size: 15px;
  }
  
  .change-quantity .box {
    border: 1px solid #bebebe;
    display: flex;
    justify-content: center;
    width: 35px;
    height: 30;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .sub-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .sub-total button {
    border: none;
    background: #fff;
    color: red;
    font-size: 15px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
  }
  
  .total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
  }
  .cart-container th:nth-child(2) {
    padding-left: 20px;
  }
  
  .cart .modal-title {
    font-size: 20px;
    padding-left: 10px;
  }
  
  .cart .cart-btn {
    position: fixed;
    background: #0facf3;
    width: 180px;
    height: 45px;
    line-height: 45px;
    bottom: 8%;
    right: 3%;
    border-radius: 3px;
    text-align: center;
    box-shadow: 4px 4px 4px #0a78aa;
    border: none;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    z-index: 999;
  }
  
  .cart .cart-btn:active {
    box-shadow: 0px 0px 0px;
  }
  
  @media (max-width: 991px) {
    .cart-container {
      margin: 0px 0px;
    }
    td img {
      max-width: 40px;
      width: 100%;
      height: 100%;
    }
    .cart-container {
      font-size: 13px;
    }
    td input {
      width: 40px;
      height: 20px;
      padding: 5px;
    }
    .change-quantity button {
      border: none;
      background: #fff;
      color: green;
      font-size: 10px;
    }
  
    .change-quantity .box {
      border: 1px solid #bebebe;
      display: flex;
      justify-content: center;
      width: 25px;
      height: 20px;
      margin-left: 3px;
      margin-right: 3px;
    }
    .info small {
      font-size: 10px;
    }
    .sub-total strong {
      font-size: 12px;
    }
    .cart-container th:nth-child(1) {
      width: 30%;
    }
    .cart-container th:nth-child(2) {
      width: 10%;
    }
    .cart-container th:nth-child(3) {
      width: 30%;
    }
    .total-price {
      font-size: 13px;
    }
    .modal-title {
      font-size: 17px;
      padding-left: 10px;
    }
    .total-price .btn {
      font-size: 13px;
    }
  
    .cart .cart-btn {
      width: 45px;
      right: 6%;
    }
    .cart .cart-btn span {
      display: none;
    }
  }
  