
.content_body {
  /* Padding change with window dimension */
  padding: 80px 100px;
  font-family: "Zilla Slab", serif;
}


.content_background_container {
  position: relative;
  height: 200px;
  width: 100%;
  background: url("http://nunforest.com/koad-demo/upload/menu/pizza-ban.jpg") center center no-repeat;
  background-size: cover;
  resize: both;
}



.content_background_content {
  position: absolute;
  padding:10px;
  top: 30%;
  bottom: 30%;
  width: 100%;
  background-color: transparent;
  color: black;
  font-size: x-large;
  text-align: center;
}

@media only screen and (max-width: 860px) {
    .content_background_content {
      font-size: large;
    }

    .content_body {
      padding: 20px 10px;
    }
  }

@media only screen and (max-width: 374px) {
    .content_background_container {
      height: 150px;
    }
}