.content_item_body {
    margin: 10px
}



.content_item_name {
    font-family: "Lato", sans-serif;
    color: #23292c;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 20px;
    font-size: 16px;
}

.content_item_description {
    font-family: "Zilla Slab", serif;
    font-size: 16px;
    color: #777777;
    font-weight: 400;
    line-height: 26px;
}

.content_item_price {
    font: bold;
    font-family: "Lato", sans-serif;
    float: right;
    color: #ea462b;
    font-size: 16px;
    font-weight: bold;
}